#centralpark{

   
    margin-bottom: 5%;
    height: 500px;
    width:700px;
    border-style: groove;
    border-color: rgb(27, 138, 27);
    
}

.list-group.list-group-numbered{
    margin: 30%;
    margin-top: 10%;
    

}

.modif{
    height: 400px;
    width: 600px;
    
}

#pizza{
  
    
    border-style: groove;
    border-color: red;
}
  
#Brooklyn{
    height: 500px;
    width: 700px;
   
    
  
    border-style: groove;
    border-color: rgb(255, 217, 0);
}

h4{
    text-align: center;
    margin-bottom: 5%;
    color: rgb(255, 0, 0);
    
}



#brooklyn2{

    height: 200px;
    width: 300px;
}

#Harlem{
  
    border-style: groove;
    border-color: blue;
}







.modif2{
height: 300px;
width: 500px;
}







    
